/* let email vertification align with get code */

.vertification {
    align-items: center!important;
    display: flex!important; 
    gap: 1rem !important;
    align-items: baseline !important;
}

.vertification-left {
    flex: 50%;
}

.get-code {
    background-color: white;
   padding: 0.5rem;
   border-color: #bd66ce;
   min-width: 6rem;
}

.forgot-go-back {
    background-color: white;
    border: none;
    border-top: 1px solid #999;
    color: #555;
    padding-top: 0.5rem;
}

@media (max-width: 700px) {
    .forgot-go-back {
        background-color: transparent;
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        color: white;
        padding-top: 0.5rem;
    }
}



