.calendar-header-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0.5rem;
}

.calendar-header-title {
    flex: 0;
    min-width: 20rem;
    font-size: 2.5rem;
}

.calendar-header-create-event {
    height: 3rem;
    width: 12rem;
    border-radius: 15px;
}

.calendar-content {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #b2b2b2;
}

.container-calender {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 2rem 5rem 0rem 5rem
}

